{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1>Page d'inscription</h1>

    {{ form_start(form) }}

    {{ form_row(form.username, {'label': 'Nom d\'utilisateur','attr':{'placeholder':"Donald Duck"}}) }}
    {{ form_row(form.email, {'label': 'Adresse mail','attr':{'placeholder':"donaldduck@gmail.com"}}) }}
    {{ form_row(form.password, {'label': 'Le mot de passe','attr':{'placeholder':"disney1"}}) }}
    {{ form_row(form.confirm_password, {'label': 'Le mot de passe encore','attr':{'placeholder':"disney1"}}) }}




    <button type="submit" class="btn btn-success">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}